@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
  color-scheme: dark;
}

html,
body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

@supports (padding: max(0px)) {
  .safe-top {
    padding-top: max(env(safe-area-inset-top), 0px);
  }
  .safe-bottom {
    padding-bottom: max(env(safe-area-inset-bottom), 0px);
  }
}
